*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----------------------shared-styles---------------------- */
.display-flex{
    display: flex;
}


/* ----------------------navbar-styles---------------------- */
nav{
    margin-top: 87px;
}
.nav-container{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
nav h2{
    font-weight: 700;
    font-size: 1.5rem;
}
.links-container ul{
    list-style: none;
    gap: 34px;
}
.links-container a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}
.links-container ul li #magnify{
    font-size: 1.5rem;
}
.links-container ul li #cart{
    font-size: 2.25rem;
}


/* ----------------------banner-styles---------------------- */
.banner{
    margin-top: 100px;
}
.banner-container{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
    color: #3A3A3A;
    line-height: auto;
    margin-top: 16px;
}
.banner-content button{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 10px 24px;
    margin-top: 16px;
}
.banner-content button:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

.banner-container .banner-image{
    background-image: url(../images/Circle\ design.svg);
    width: 475px;
    height: 475px;
    align-items: center;
    justify-content: center;
}
.banner-image img{
    width: 440px;
    height: 414px;
}


/* ----------------------sponsors-styles---------------------- */
.sponsors{
    margin-top: 70px;
}
.sponsors-container{
    max-width: 1110px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 36px 62px;
    align-items: center;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);;
}


/* ----------------------collection-section---------------------- */

.collection-container{
    max-width: 1047px;
    margin: 0 auto;
}

.collection-container .collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    width: 262px;
    margin: 0 auto;
}

.card{
    width: 329px;
    height: 476px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}

.card .product-image{
    width: 300px;
    height: 256px;
}

.card .product-name{
    font-size: 1.75rem;
    line-height: 40px;
    margin-top: 16px;
    font-weight: 500;
}

.card .price{
    font-size: 1.5rem;
    line-height: 150%;
    margin-top: 6px;
}

.card .rating{
    width: 122px;
    height: 32px;
}

.card .product-description{
    font-size: 0.88rem;
    font-weight: 700;
    color: #787885;
    line-height: 143%;
}