.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----------------------shared-styles---------------------- */
.display-flex{
    display: flex;
}


/* ----------------------navbar-styles---------------------- */
.nav-container{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
nav h2{
    font-weight: 700;
    font-size: 1.5rem;
}
.links-container ul{
    list-style: none;
    gap: 34px;
}
.links-container a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}
.links-container ul li #magnify{
    font-size: 1.5rem;
}
.links-container ul li #cart{
    font-size: 2.25rem;
}


/* ----------------------banner-styles---------------------- */
.banner{
    margin-top: 100px;
}
.banner-container{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
    color: #3A3A3A;
    line-height: auto;
    margin-top: 16px;
}
.banner-content button{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 10px 24px;
    margin-top: 16px;
}
.banner-content button:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

.banner-container .banner-image{
    background-image: url(../images/Circle\ design.svg);
    width: 475px;
    height: 475px;
    align-items: center;
    justify-content: center;
}
.banner-image img{
    width: 440px;
    height: 414px;
}


